.resume__contact-card {
    background-color: var(--bg-dark);
    color: var(--text-color-light);
    padding: 12px;
    justify-content: space-between;
    gap: 12px;
    min-height: 92px;
}

.resume__contact-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.resume__contact-email {
    font-size: 10px;
    font-weight: 400;
    color: #dddddd;
}
