.resume__item--experience-card {
    max-width: 411px;
    max-height: 359px;
    padding: 12px;
    background-color: var(--bg-neutral);
}

.resume__experience-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume__job-card {
    padding: 8px;
    border-radius: var(--border-radius-small);
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 387px;
}

.resume__job-card--highlight {
    background-color: var(--bg-accent);
    color: var(--text-color-light);
}
.resume__job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume__job-date {
    font-size: 8px;
    font-weight: 500;
}

.resume__job-tag--recent {
    background-color: rgba(126, 115, 18, 0.4);
    color: #ddf163;
    font-size: 8px;
    font-weight: 500;
    padding: 2px 7px;
    border-radius: var(--border-radius-tag);
    line-height: 155%;
}

.resume__job-body {
    display: flex;
    justify-content: space-between;
}

.resume__job-info {
    max-width: 124px;
    flex-shrink: 0;
}

.resume__job-title {
    font-size: 10px;
    font-weight: 500;
    line-height: 150%;
}

.resume__job-company {
    font-size: 8px;
    font-weight: 400;
    line-height: 150%;
}

.resume__job-duties {
    max-width: 239px;
}

.resume__job-duties-list {
    font-size: 8px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: -2px;
}

.resume__job-duties-list li {
    margin-left: 12px;
}

.resume__job-duties-list li::marker {
    font-size: 0.9em;
}
